*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans'; 
}

/**Boot CSS**/
img{
    width: 100%;
    max-width: 500px;
}

.text-center{
    text-align: center;
}

.center{
    max-width: 1280px;
    padding: 0 2%;
    margin: 0 auto;
}

.w33{
    width: 33.3%;
    padding: 0 10px;
}

.w50{
    padding: 0 10px;
    width: 50%;
}

.w100{
    width: 100%;
    padding: 0 10px;
}

.left{
    float: left;
}

.right{
    float: right;
}

.clear{
    clear: both;
}

/**Estilizacao do site**/
.sucesso{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    padding: 15px 2%;
    z-index: 999;
    text-align: center;
    width: 100%;
    color: #008000;
    font-weight: bold;
    font-size: 14px;
    background-color: #DFF2BF;
}

.overlay-loading{
    display: none;
    position:fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: rgba(0,0,0,0.4);
}

.overlay-loading img{
    width: 32px;
    height: 32px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

header{
    background: #3D437A;
    padding: 10px 0;
}

header .logo{
    font-size: 25px;
    font-weight: 300;
    text-transform: uppercase;
    color: white;
}

.logo a {
    text-decoration: none;
    color: white;
}

.mobile{
    display: none;
}

nav.desktop ul{
    position: relative;
    top: 6px;
    list-style-type: none;
}

nav.desktop li{
    font-weight: 300;
    font-size: 15px;
    padding: 0 30px;
    text-transform: uppercase;
    display: inline-block;
}

nav.desktop a{
    color: white;
    text-decoration: none;
}

nav.desktop a:hover{
    text-decoration: underline;
}

section.banner-conteiner{
    position: relative;
    z-index: 3;
    width: 100%;
    height: 600px;
}

.banner-single{
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    display: none;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.overlay{
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(51, 51, 51, 0.6) ; /**opacidade**/
}

section.banner-conteiner form{
    width: 93%;
    max-width: 600px;
    z-index: 3;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

section.banner-conteiner form h2{
    color: white;
    font-weight: 300;
    font-size: 50px;
    text-align: center;
}

section.banner-conteiner form input[type=email]{
    width: 100%;
    height: 66px;
    margin-top: 10px;
    background: white;
    color: #333;
    font-size: 22px;
    padding-left: 10px;
}

section.banner-conteiner form input[type=submit]{
    width: 100%;
    height: 66px;
    margin-top: 10px;
    background: #00c59e;
    color: white;
    cursor: pointer;
    font-size: 22px;
    border: 0;
}

.bullets{
    position: absolute;
    z-index: 4;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.bullets span{
    margin: 0 10px;
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #444;
    margin: 0 10px;
}

.bullets span.active-slider{
    background: white;
}

section.descricao-autor{
    padding: 40px 0;
}

section.descricao-autor h2{
    font-size: 28px;
    font-weight: 300;
    color: #444;
}

section.descricao-autor img{
    width: 60px;
    height: 60px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
}

section.descricao-autor p{
    font-size: 16px;
    color: #444;
    font-weight: 300;
    margin-top:10px;
}

section.especialidades{
    padding: 40px 0;
    background: #bebbbb;
}

section.especialidades h2.title{
    font-size: 30px;
    text-align: center;
    font-weight: 400;
    color: black;
}

.box-especialidade{
    margin: 40px 0;
    padding: 0 30px;
    text-align: center;
}

.box-especialidade h3{
    color: #404580;
    font-size: 40px;
}

.box-especialidade h4{
    font-weight: 300;
    font-size: 25px;
    color: black ;
}
.box-especialidade p{
    color: black;
    font-size: 15px;
    margin-top: 10px;
}

section.extras{
    padding: 30px 0;
    background: #404580;
}

.servicos-container, .depoimentos-container{
    padding:0 50px;
}

section.extras .title{
    color: white;
    font-weight: 300;
    font-size: 25px;
    margin-bottom: 15px;
}

.depoimentos-single{
    padding: 15px 0;
    border-bottom: 1px solid #5056a0;
}

p.depoimento-descricao{
    font-size: 15px;
    color: white;
    font-weight: 300;
}

p.nome-autor{
    font-size: 15px;
    color: white;
    margin-top: 5px;
    font-weight: bold;
}

.servicos ul{
    margin: 20px 0;
}

.servicos li{
    margin-bottom: 15px;
    font-size: 15px;
    color: white;
    font-weight: 300;
}

footer{
    background: #313462;
    padding: 30px 0;
}

footer p{
    color: white;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
}

section.erro-404{
    min-height: 900px;
    padding: 30px 0;
}

section.erro-404 h2{
    text-align: center;
    color: #444;
    font-weight: 400;
    border-top: 2px solid #444;
}

section.erro-404 p{
    text-align: center;
    color: #444;
    font-weight: 400;
    border-top: 2px solid #444;
}

.map {
    width: 100%;
    height: 400px;
}

.contato-container{
    padding: 40px 0;
    text-align: center;
    min-height: 900px;
}

.contato-container input[type=text]{
    margin: 8px 0;
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    padding-left: 8px;
    max-width: 800px;
    font-size: 16px;
    color: #444;
}

.contato-container textarea{
    padding: 8px;
    margin: 8px 0;
    width: 100%;
    height: 120px;
    border: 1px solid #ccc;
    padding-left: 8px;
    max-width: 800px;
    font-size: 16px;
    resize: vertical;
    color: #444;
}

.contato-container input[type=submit]{
    background: #00c59e;
    width: 140px;
    height: 40px;
    color:white;
    cursor: pointer;
}


.active-slider{
    background: white;

}

/**Portal de Noticias&**/

.header-noticias{
    width: 100%;
    background: #333864;
    padding: 40px 0;
}

.header-noticiash2:nth-of-type(1){
    font-size: 41px;
    color: #f40b5c;

}

.header-noticias h2{
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;   
}

section.container-portal{
    padding: 50px 0;
}

.sidebar {
    float: left;
    width: 30%;
}

.box-content-sidebar{
    width: 100%;
    background: #dddddd;
    padding: 15px;
    margin: 40px 0 40px;
    color: #333864;
    margin-bottom: 50px;
    border-radius: 15px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.box-content-sidebar h3{
    font-size: 18px;
    font-weight: normal;

}

.box-content-sidebar input[type="text"]{
    width: 100%;
    height: 40px;
    border: 1px solid rgb(220, 220, 220);
    padding-left: 8px;
    margin: 10px 0;
}

.box-content-sidebar select{
    width: 100%;
    height: 40px;
    border: 1px solid rgb(220, 220, 220);
    padding-left: 8px;
    margin: 10px 0;
}

.box-content-sidebar input[type="submit"]{
    cursor: pointer;
    background: #f40b5c;
    color: white;
    width: 115px;
    height: 35px;
    font-weight: bold;
    margin: 10px 0;
    border: 0;
}

.autor-box-portal{
    margin-top: 10px;  
    text-align: center;
}

.box-img-autor{
    width: 160px;
    height: 160px;
    display: inline-block;
    border-radius: 50%;
    margin: 20px 0;
    background-image: url('../img/autor.jpg');
    background-size: 100% 100%;
}

.box-img-autor h3,
.box-img-autor p{
    color: #646464;
}

.autor-box-portal p{
    font-size: 14px;
    display: block;
    margin: 0 auto;
}

.conteudo-portal{
    float: left;
    width: 70%;
    padding-left: 50px;
}

.header-conteudo-portal{
    color: #333864;
}

.header-conteudo-portal h2{
    font-size: 23px;
}

.header-conteudo-portal h2 > span{
    border-top: 4px solid #333864;
}

.box-single-conteudo{
    margin: 15px 0;
    padding: 15px 0;
    border-bottom: 1px solid #ccc;
}

.box-single-conteudo h2{
    color: #646464;
    font-weight: normal;
    font-size: 22px;
}

.box-single-conteudo p{
    color: #646464;
    font-weight: normal;
    font-size: 15px;
    margin-top: 8px;
}

.box-single-conteudo a{
    background: #00b95c;
    display: block;
    width: 100px;
    height: 30px;
    line-height: 35px;
    text-align: center;
    padding: 0 3px;
    font-size: 15px;
    margin-top: 8px;
    text-decoration: none;
    color: white;
}

.paginator{
    text-align: center;
}

.paginator a{
    margin: 0 10px;
    text-decoration: none;
    display: inline-block;
    padding: 6px 4px;
    border: 1px solid rgb(200, 220, 220);
    color: rgb(100, 100, 100);
}

.paginator a.active-page{
    background: rgb(220, 220, 220);
}

/**Noticia Single**/
section.noticias-single{
    padding: 40px 0;
    color:646464;
}

section.noticias-single header{
    background-color: transparent;
}

section.noticias-single h1{
    font-size: 30px;
    border-bottom: 2p solid #646464;

}

section.noticias-single article{
    margin-top: 15px;
}

section.noticias-single h3,
section.noticias-single h2,
section.noticias-single h4,
section.noticias-single h5,
section.noticias-single h6{
    margin: 10px 0;
}
section.noticias-single p{
    margin: 10px 0;
}

section.noticias-single article ul{
    list-style-position: inside;
    margin: 10px 0;
}

section.noticias-single img{
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

/**Responsivo**/
@media screen and (max-width: 768px){

    .conteudo-portal{
        width: 100%; 
        padding-left: 0;     
    }

    .sidebar{
        width: 100%;
        text-align: center;
    }

    img{
        float: none !important;
        display: block;
        margin: 0 auto;
    }

    .w50{
        width: 100%;
        padding: 20px;
    }

    .w33{
        width: 100%;
        padding: 20px;
    }
    
    .box-especialidade{
        padding: 40px 20px;
        margin: 0;
    }

    nav.desktop{
        display: none;
    }

    nav.mobile{
        display: block;
    }  

    .botao-menu-mobile{
        font-size: 24px;
        cursor: pointer;
        color: white;
    }

    nav.mobile ul{
        top: 55px;
        z-index: 3;
        position: absolute;
        left: 0;
        width: 100%;
        display: none;
        text-align: center;
    }

    nav.mobile li{
        font-weight: 300;
        width: 100%;
        display: block;
        background: white;
        border-bottom: 1px solid #ccc;
        font-size: 17px;
        padding: 8px 0;
    }

    nav.mobile li a{
        display: block;
        color: #444;
        text-decoration: none;
    }

}
